/* .projectTable{
    width: 500px;
} */

/* .tableTitle{
    color: #ccd6f6;
    font-weight: bold;
    font-size: medium;
} */
/* 
.titleGrow{
    flex-grow: 2;
}

.link{
    flex-grow: 0;
}

.build{
    flex-grow: 2;
}

.year{
    color: rgb(37, 223, 207);
    font-family: 'Courier New', Courier, monospace;
    flex-grow: 0;
}

.made{
    flex-grow: 1;
    width: 0px;
} */