.skillz{
    height: fit-content;
}

.skillsLayer1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0px;

}

.developmentCells{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right: 150px;
}

.development{
    margin-right: 30px;
}

.cells{
    background-color: transparent;
    border: 1px solid #8892b0;
    color: #ccd6f6;
    padding: 40px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    text-align: center;
    border-radius: 50%;
    margin: 10px;
    font-size: small;
    width: 20px;
    height: 20px;
    align-items: center;
}

.skillsFlex{
    display: flex;
    width: 350px;
    justify-content: space-between;
    margin-top: 60px;
}


.projectsDoneCells{
    display: flex;
    justify-content: space-between;
    color: #8892b0;
    width: 250px;
}

.skillsH3{
    color: #8892b0;
    text-transform: capitalize;
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 40px;
}

.skillsFlex ul{
    list-style: none;
    color: #ccd6f6;
    margin-top: -20px;
    line-height: 1.5em;
}

.skillsUnderLine{
    width: 115px;
    border-radius: 10px;
    height: 3px;
    background-color: rgba(100,255,218,255);
    position: absolute;
    left: 140px;
    margin-top: -55px;
}


.pDCells a {
    color: #ccd6f6;
    transition: color 1s;
}

.pDCells a:hover{
    color: rgba(100,255,218,255);
}

.skillsFlex ul li:before {
    content: '✓    ';
}

.skillsFlex li {
    margin-left: -50px;
    font-family: sans-serif;
    font-weight: lighter;
    text-transform: capitalize;
}

.skillsMain{
    color: #ccd6f6;
    font-size: xx-large;
    text-transform: capitalize;
    font-family: Open Sans;
    position: absolute;
    left: 150px;
    margin-top: -100px;
    width: fit-content;
}

.spanStyleSkills{
   margin-left: 550px;
   margin-top: -75px;
}

.styleDiv{
    width: 500px;
    left: 20px;
    position: absolute;
}



.skillsIcon{
    color: #8892b0;
    position: absolute;
}

.pDCells{
    cursor: pointer;
}


.settingsIcon{
    margin-top: 25px;
    margin-left: -35px;
}

.projectsIcon{
    margin-top: 5px;
    margin-left: -30px;
}

.toolsIcon{
    margin-top: 30px;
    margin-left: -30px;
}

.bulbIcon{
    margin-top: 20px;
    margin-left: -35px;
}

.projectDisplay{
    width: 90%;
    height: fit-content;
    max-height: 200vh;
    margin-top: 0px;
}

.numbersShowCase{
    color: rgba(100,255,218,255);
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.Number{
    position: absolute;
    top: -118px;
    left: 105px;
}

.flex{
    position: relative;
}

.pull{
    margin-left: -20px;
}