

.summaryMe{
    width: 480px;
    line-height: 28px;
}

/* .aboutMeHolder{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
} */

.aboutMeContainer{
    width: 100vw;
    margin: 0 auto;
    height: fit-content;
    margin-bottom: 400px;
    display: flex;
    justify-content: center;
}

.aboutProfile{
    filter: none;
    mix-blend-mode: normal;
}

.aboutImg{
   margin-left: 100px;
   margin-top: 20px;
   position: relative;
   z-index: 20;
   text-align: center;
   display: flex;
   height: fit-content;
}


.imgBorder{
    width: 270px;
    height: 290px;
    border-radius: 5px;
    border: 1px solid rgba(100,255,218,255);
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
    transition: all .2s;
}

.aboutImg:hover .imgBorder{
    top: 12px;
    left: 12px;
}

.aboutMeFlex{
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}

.spanStyle{
    height: 1px;
    width: 300px; 
    background-color: rgba(255,255,255,.1);
    position: absolute;
    margin-top: 106px;
    text-align: center;
}

.spanStyleAbout{
   left: 170px;
   top: -50px;
}

.topAbout{
    margin-bottom: 0px;
    position: relative;
}

.flex{
    display: flex;
    margin-bottom: -10px;
}

.flexParagraph{
    color: #8892b0;
    font-size: small;
    margin: -2px 10px;
    margin-bottom: 12px;
    margin-right: 50px;
}

.flexMore{
    margin-top: 40px;
    margin-left: 20px;
}

.aboutMe{
    margin-bottom: 260px;
}

.tabs{
   width: 80%;
   margin: 80px auto;
   position: absolute;
   height: fit-content;
   margin-top: -100px;
   left: 30%;
}

.education{
    font-size: x-large;
    font-family: Open Sans;
    color: #ccd6f6;
    text-transform: capitalize;
    position: absolute;
    margin-top: -40px;
}

.spanStylePanel{
    right: -30px;
    margin-top: -22px;
}

.reactTabs{
    display: flex;
    width: 100%;
    margin-top: 0px;
    margin-left: -60px;
}

.tabContent{
    margin-left: 40px;
    scroll-behavior: smooth;
}

.tabList{
    cursor: pointer;
    list-style: none;
    color: #8892b0;
    font-size: 15px;
    padding: 15px 0;
    margin: 0;
    height: fit-content;
    margin-left: -41px;
    padding-left: 20px;
    border-left: 2px solid rgba(136, 146, 176, .2);
    transform: all 1s;
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
    outline: none;
    width: 120px;
}

.tabList:hover{
    color: rgba(100,255,218,255);
    background-color: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.tabList:focus{
    border-left: 2px solid rgba(100,255,218,255);
    color: rgba(100,255,218,255);
}

/* .list{
    border-left: 2px solid rgba(136, 146, 176, .2);
} */

.panelHeader{
    color: #ccd6f6;
    font-family: Open Sans;
    font-size: larger;
}

.panelDate{
    color: #8892b0;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -10px;
    margin-bottom: 10px;
}

.panelExperience{
    color: #8892b0;
    font-size: medium;
    justify-content: center;
    width: 55%;
    margin-left: 0;
    line-height: 24px;
}

.panelBold{
    color: rgba(100,255,218,255);
    margin: 0px 5px;
    height: fit-content;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    font-size: medium;
}

.panelBold:after{
    content: "";
    position: absolute;
    background-color: rgba(100,255,218,255);
    height: 1px;
    width: 0;
    left: 0;
    bottom: -5px;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
.panelBold:hover::after{
    width: 100%;
}

.panelIcon{
    margin-top: 13px;
    margin-right: 5px;
}

.numbers{
    margin-top: 40px;
    color: rgba(100,255,218,255);
    font-size: xx-large;
    margin-right: 10px;
    font-family: 'Courier New', Courier, monospace;
}


.tabNumber{
    margin-top: -35px;
    margin-left: -65px;
    color: rgba(100,255,218,255);
    font-family: 'Courier New', Courier, monospace;
}

.hideOverflow{
    overflow: hidden;
}