.navContainer{
    width: 100%;
    z-index: 100;
    height: 60px;
    background-color: rgba(10,25,47,0.98);
    position: sticky;
    top: 0;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    font-size: medium;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.logo{
    color: rgb(37, 223, 207);
}

#ulNavLinks a:hover{
    border-bottom: 1px solid rgb(37, 223, 207);
    color: #8892b0;
}

#ulNavLinks{
  display: flex;  
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  color: lightgrey;
  margin-left: 20px;
}

#ulNavLinks a{
    list-style: none;
    padding-bottom: 5px;
    border: 2px solid transparent;
    transition: 1s;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    color: rgb(37, 223, 207);
}

.navLinks{
    margin-right: 50px;
}