.navContainer{
    width: 100%;
    z-index: 100;
    height: 70px;
    background-color: rgba(10,25,47,0.98);
    position: fixed;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.flexContainer{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0px auto;
    font-size: medium;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.logo{
    color: rgba(100,255,218,255);
    margin-top: 15px;
}

#ulNavLinks a:hover{
    color: #8892b0;
}

#ulNavLinks{
  display: flex;  
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  color: lightgrey;
  margin-left: 20px;
}

#ulNavLinks a{
    padding-bottom: 5px;
    border: 2px solid transparent;
    transition: 1s;
    font-weight: lighter;
    font-family: Courier; 
    font-size: medium; 
    font-style: normal; 
    text-decoration: none;
    color: #ccd6f6;
    margin-right: 10px;
}

ol {
    list-style: none;
    counter-reset: my-awesome-counter;
  }
  
  ol li {
    counter-increment: my-awesome-counter;
  }
  
  ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: rgba(100,255,218,255);
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
  }

.navLinks{
    margin-right: 160px;
}

.hexagon {
  position: relative;
  height: 40px;
  width: 35px;
  background: rgba(100,255,218,255);
}
.hexagon:before, .double:after {
  position: absolute;
  content: '';
}
.hexagon:before {
  top: 2px;  /* border width */
  left: 2px;  /* border width */
  height: calc(100% - 4px);  /* 100% - (2 * border width) */
  width: calc(100% - 4px);  /* 100% - (2 * border width) */
  color: rgba(100,255,218,255);
  background: rgba(10,25,47,255);
}
.hexagon, .hexagon:before, .double:after {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.logoH6{
  color: rgba(100,255,218,255);
  position: absolute;
  z-index: 1000;
  width: 100%;
  text-align: center;
  font-size: medium;
  bottom: -26.5px;
}
