.Psc2{
    width: 100%;
    height: 100vh;
    background-color: rgba(10,25,47,255);
    margin-bottom: -300px;
}

.projectDetails2{
    width: 90%;
    height: 60vh;
    justify-content: left;
    display: flex;
    margin: 0px auto;
    margin-top: 60px;
}

.aboutProject2{
    color: #8892b0;
    width: 450px;
    height: 100px;
    padding: 30px;
    background-color: rgba(17,34,64,255);
    z-index: 50;
    line-height: 1.2em;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin-top: -25px;
}

.projectImg2{
    z-index: 0;
    position: absolute;
    right: 180px;
    height: 340px;
    width: 460px;
    margin-top: 30px;
    border-radius: 10px;
}

.projectImg-gradient2{
    left: 350px;
    max-width: 100%; 
    width: 460px;
    margin-top: 0;
    position: absolute;
}

.projectImg-gradient2::after {
    content: '';
    position: absolute;
    right: 180px;
    top: 30px;
    width: 460px; height: 340px;
    background: linear-gradient(rgba(30, 72, 84, 0.5),rgba(30, 72, 84, 0.5));
    border-radius: 10px;
    border: 1px solid rgba(30, 72, 84, 0.5);
  }

.technology2{
    color: #ccd6f6;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    width: 450px;
    margin-top: 10px;
    position: absolute;
    right: 0;
}

.techIcons2{
    width: 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    cursor: pointer;
    position: absolute;
    right: 0px;
}

.techIconOne2{
    color: #ccd6f5;
    transition: color 1s;
}

.techIconTwo2{
    color: #ccd6f5;
    transition: color 1s;
}

.techIconOne2:hover, .techIconTwo2:hover{
    color: rgb(37, 223, 207);
}


.aboutProjectContainer2{
   position: absolute;
   right: 170px;
   margin-top: 50px;
}

.feature2{
    color: rgb(37, 223, 207);
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    letter-spacing: 0.0001em;
    text-transform: capitalize;
    position: absolute;
    right: 35px;
    margin-top: -35px;
}

.projectTitle2{
    color: #ccd6f6;
    text-transform: capitalize;
    font-size: xx-large;
    font-family: sans-serif;
    margin-top: -10px;
    transition: color 1s;
    cursor: pointer;
    display: flex;
    justify-content: right;
}

.projectTitle2:hover{
    color: rgb(37, 223, 207);
}