.footerContainer{
    height: 25vh;
    width: 100%;
    background-color: lightgray;
    color: rgb(13, 27, 33);
}

.footerHolder{
    width: 90%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
}

.footerHeader{
    text-transform: capitalize;
    font-family: montserrat;
    font-weight: 600;
}

#socialIcons{
    display: flex;
    justify-content: space-between;
}

.icons{
    background-color: rgb(123, 123, 123);
    border-radius: 50%;
    padding: 10px;
    margin: 5px;
    color: white;
    cursor: pointer;
}

#about{
    width: 25%;
}

.text{
    font-family: montserrat;
    color: rgb(13, 27, 33);
    font-size: small;
    font-weight: 500;
    text-transform: capitalize;
    list-style: none;
}